html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: darkgray;
}
button,
label,
input {
  cursor: pointer;
  font-family: inherit;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 0 auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-board {
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.g-board {
  position: relative;
}
.boxes {
  display: grid;
  grid-template-columns: auto auto auto;
}
.box {
  border: solid 1px black;
  width: 50px;
  height: 50px;
  background-color: aqua;
  font-weight: bold;
}
.buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 5px;
}
.result {
  top: 0;
  width: 156px;
  height: 156px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}
.hidden {
  display: none;
}
.sc {
  margin: 0 6px;
}
